@font-face {
        font-family: 'Neucha';
        src: url('src/Neucha-Regular.ttf');
    }

body {
        font-family: 'Neucha', sans-serif;
        color: #880c0c;
        background-color: #7acbf2;
}

.title {
        background: linear-gradient(90deg, rgba(49,183,231,1) 11%, rgba(0,119,192,1) 92%);
        font-size: revert-layer;
        text-align: center;
}

