.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.carousel button:focus {outline: none;}
.carousel button:first-of-type {left: 10px;}
.carousel button:last-of-type {right: 10px;}